<!DOCTYPE html>
<html>
    <head>
    <title>Practicing Vue</title>

    </head>
    <body>
    
        <div id="root">
            <h2>All Tasks</h2>

            <ul>
                <li v-for="task in tasks" v-text="task.description"></li>
            </ul>

            <h2>Completed Tasks</h2>

            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>

        </div>

    <!-- THIS IS THE VUE.JS CDN SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

        <script>

            new Vue({
                el: '#root',

                data: {
                    tasks: [
                        { description: 'task to be completed 1', completed: false },
                        { description: 'task to be completed 2', completed: false },
                        { description: 'task to be completed 3',  completed: true },
                        { description: 'task to be completed 4', completed: false },
                        { description: 'task to be completed 5', completed: false },
                        { description: 'task to be completed 6', completed: true },
                        { description: 'task to be completed 7', completed: true }
                    ]
                },

                computed: {
                    incompleteTasks() {
                        return this.tasks.filter(task => task.completed);
                    }
                }

                // mounted() {
                //     alert('ready');
                // }

            });

            Vue.config.debug = true; 
            Vue.config.devtools = true;



        </script>

    </body>
</html>